<section id="home" ng-controller="SequenceController">

<p>Start Block</p>

<h3>saved blocks</h3>
<div ng-repeat="savedblock in savedblocks">
    <p>{{savedblock}}</p>
    <button type="button" ng-click="addBlock(savedblock)">Add</button>
</div>

<button type="button" class="btn btn-success" ng-click="pullBlocks()">Refresh</button>

    <div>
        <form style="background-color:pink;margin:40px">
            <div class="form-group">
                <label for="input">Input</label>
                
                <!-- <label for="type">Type</label>
                <select ng-model="startBlock.type">
                  <option value="string">string</option>
                  <option value="integer">integer</option>
                  <option value="array">array</option>
                  <option value="object">object</option>
                </select> -->
                <label for="type">Type</label>
                <select ng-model="startBlock.type" ng-options="type for type in types"></select>

                <input ng-model="startBlock.input" type="text" class="form-control" id="input" placeholder="Input">

                <label for="language">Language</label>
                <select ng-model="startBlock.language" ng-options="lingo for lingo in lingos"></select>

                <label for="function">function (input) {</label>
                <textarea ng-model="startBlock.funct" type="text" class="form-control" id="Function" name="editor"></textarea>
                <div id="editor"></div>
                <p>}</p>
            </div>
            <p>Output: {{startBlock.output}}</p>
            <input ng-model="startBlock.name" type="text" id="name" placeholder="function name">
            <button type="button" class="btn btn-success" ng-click="startBlock.save()">Save</button>
        </form>
    </div>

<p>Middle Block(s)</p>

    <button type="button" class="btn btn-default" ng-click="createBlock()">Insert Block</button>

    <div ng-repeat="block in sequencer.sequence">
        <form style="background-color:pink;margin:40px">
            <div class="form-group">

<!--                 <label for="language">Language</label>
                <select ng-model="block.language">
                  <option value="javascript">Javascript</option>
                  <option value="ruby">Ruby</option>
                </select>
                <br> -->
                <label for="language">Language</label>
                <select ng-model="block.language" ng-options="lingo for lingo in lingos">
                </select>
                <br>

                <label for="function">Function</label>
                <textarea ng-model="block.funct" type="text" class="form-control" id="Function"></textarea>
            </div>
            <p>Output: {{block.output}}</p>
            <input ng-model="block.name" type="text" id="name" placeholder="{{block.name}}">
            <button type="button" class="btn btn-success" ng-click="startBlock.save()">Save</button>
        </form>
    </div>

<p>Controls</p>


    <button type="button" class="btn btn-success" ng-click="runSequence()">Run Sequence</button>

</section>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");

    var textarea = $('textarea[name="editor"]').hide();
    editor.getSession().setValue(textarea.val());
</script>
