<section id="home" ng-controller="SequenceController">

<div layout="column" layout-fill style="padding-bottom: 10px;">
  <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
    <h1>Func.io</h1>
  </md-whiteframe>
</div>


<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">saved blocks</button>
  <button type="button" class="btn btn-success" ng-click="pullBlocks()">Refresh</button>
</div>

<!-- <h3 class="md-title">saved blocks</h3> 
<button type="button" class="btn btn-success" ng-click="pullBlocks()">Refresh</button> -->
<div style="display: flex">
    <md-list>
      <md-list-item class="md-2-line savedblocklist" ng-repeat="savedblock in savedblocks" layout="row"
          layout-wrap>
        <div class="md-item-text md-whiteframe-z1" flex>
          <h3>{{savedblock.name}}</h3>
          <p>description: ...</p>
          <p>language: {{savedblock.lingo}}</p>
          <p>input-type: {{savedblock.input_type}}</p>
          <p>output-type: {{savedblock.output_type}}</p>
          <button type="button" class="btn btn-primary" ng-click="addSavedBlock(savedblock)">Add</button>
        </div>
      </md-list-item>
    </md-list>    
</div>


<!-- {"input_type":"integer","lingo":"node","name":"myscript","script":"return input + 2;","_id":"5593180dcb5979c9067ea2b4","__v":0} -->

    <div>
        <form style="background-color:pink;margin:40px">
            <div class="form-group">
                
                <label for="input_type">input_type</label>
                <select ng-model="startBlock.input_type" ng-options="type for type in types"></select><br>

                <label for="input">Input</label>
                <input ng-model="startBlock.input" type="text" class="form-control" id="input" placeholder="Input">

                <label for="language">Language</label>
                <select ng-model="startBlock.language" ng-options="lingo for lingo in lingos"></select>
                <br>

                <!-- Install Ace Editor -->

                <label for="function">function (input) {</label>
                <textarea ng-model="startBlock.funct" type="text" class="form-control" id="Function" name="editorStartBlock"></textarea>
                <div class="ace-editor" id="editorStartBlock"></div>
                <p>}</p>

                <!-- Install Ace Editor -->
            </div>
            <p>Output: {{startBlock.output}}</p><br>
            
            <label for="output_type">output_type</label>
            <select ng-model="startBlock.output_type" ng-options="type for type in types"></select><br>

            <input ng-model="startBlock.name" type="text" id="name" placeholder="function name">
            <button type="button" class="btn btn-success" ng-click="startBlock.save()">Save</button>
        </form>
    </div>

<p>Middle Block(s)</p>

    <button type="button" class="btn btn-default" ng-click="createBlock()">Insert Block</button>

    <div ng-repeat="block in sequencer.sequence">
        <form style="background-color:pink;margin:40px">
            <div class="form-group">

                <label for="input_type">input_type</label>
                <select ng-model="block.input_type" ng-options="type for type in types"></select><br>

                <label for="language">Language</label>
                <select ng-model="block.language" ng-options="lingo for lingo in lingos"></select><br>

                <!-- Install Ace Editor -->

                <label for="function">function (input) {</label>
                <textarea ng-model="block.funct" type="text" class="form-control" id="Function" name="{{'editorBlock-' + block.blockPosition}}"></textarea>
                <div id="{{'editorBlock-' + block.blockPosition}}" class='ace-editor'></div>
                <p>}</p>

                <!-- Install Ace Editor -->

            </div>

            <p>Output: {{block.output}}</p>

            <label for="output_type">output_type</label>
            <select ng-model="block.output_type" ng-options="type for type in types"></select><br>

            <input ng-model="block.name" type="text" id="name" placeholder="{{block.name}}">
            <button type="button" class="btn btn-success" ng-click="block.save()">Save</button>

        </form>
    </div>

<p>Controls</p>


    <button type="button" class="btn btn-success" ng-click="runSequence()">Run Sequence</button>

</section>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>