
body{
	padding: 10px;
}

#myform {
	width: 100%
}

#codebox {
	height: 200px;
	width: 800px;
}

md-list {
	width: 100%;
}

.savedblocklist {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }
.savedblocklist .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }
.savedblocklist .md-item-text h3, .savedblocklist .md-item-text p {
  padding: 0;
  margin: 0; }

md-whiteframe {
  background: #fff;
  margin: 10px;
  padding: 20px; }